body {
  font-family: 'Roboto';
}

.container {
  padding: 40px;
}

div#token-section {
  border: 4px solid blueviolet;
  padding: 12px;
  margin-bottom: 4px;
}

div#predictions-section {
  border: 4px solid lightblue;
  padding: 12px;
  margin-bottom: 4px;
}

.prediction-container {
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 4px;
}

.prediction-container:hover {
  background-color: lightblue;
}